html body{
    margin: 0;
}

.contenedor{
  
    display: flex;
    height: 50px;
}
.header-nav{
    background: #2180B6;
    width: 40%;
}
.header-carrito{
    background: #2180B6;
    width: 30%;
}
.header-usuario{
    background: #2180B6;
    width: 30%;
}
ul{
    display: flex;
    
}
li{
    padding-top: 10px;
    list-style: none;

}
li a{
    margin-right: 20px;
    color: white;
}
.usuario-item{
    padding-left: 70px;
}
.carrito-item{
    
    margin-right: auto;
    margin-left: auto;

}
.imagencarrusel{
    height: 450px;
    width: 1370px;
}

.productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px;

    margin-top: 30px;
}
.pestaña {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;

}

.pestaña button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
 
  .contenedor-botones{
      display: flex;
  }
  
  .footer-primero{
      display: flex;
      margin-top: 30px;
      justify-content: space-between;

  }
  .footer-primero figure{
     height:200px ;
     width: auto;
    
}
  .footer-segundo{
    width: 100%;
    background: black;
    color:white;
    text-align: center;
  }
 