html body{
    margin: 0;
}

.contenedor{
    background: red;
    display: flex;
    height: 50px;
}
.header-nav{
    background: blue;
    width: 40%;
}
.header-carrito{
    background: green;
    width: 30%;
}
.header-usuario{
    background: blueviolet;
    width: 30%;
}
ul{
    display: flex;
    
}
li{
    
    list-style: none;

}
li a{
    margin-right: 20px;
    color: white;
}
.usuario-item{
    padding-left: 70px;
}
.carrito-item{
    
    margin-right: auto;
    margin-left: auto;

}
.imagencarrusel{
    height: 450px;
    width: 1370px;
}

